bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
#Ensime
.ensime
.ensime_cache/
.ensime_lucene/
ensime.sbt

# Mill
out/
# idea
.idea/
.idea_modules/
